body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: linear-gradient(135deg, #1c1f4a, #4f6ad7);
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255,255,255,.18);
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: .2s;
}

.menu li a:hover {
  color: #ffd166;
}


/* PAGE LAYOUT */

.container {
  width: 70%;
  margin: 65px auto;
  text-align: center;
}

.subtitle {
  opacity: 0.85;
  margin-bottom: 10px;
}


/* CARD STYLE (Glass UI) */

.card {
  background: rgba(255,255,255,0.12);
  padding: 25px;
  border-radius: 18px;
  margin-top: 25px;
  border: 1px solid rgba(255,255,255,.2);
  box-shadow: 0 15px 35px rgba(0,0,0,.35);
  backdrop-filter: blur(6px);
  animation: fadeIn .5s ease;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1; transform: translateY(0);}
}


/* UPLOAD BOX */

.upload-label {
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}

.upload-box input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.preview-upload {
  width: 220px;
  margin-top: 10px;
  border-radius: 14px;
  box-shadow: 0 12px 25px rgba(0,0,0,.35);
}

button {
  padding: 12px 20px;
  border: none;
  background: #ffb703;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 12px;
  transition: .25s;
}

button:hover {
  transform: translateY(-2px);
  background: #ffca3a;
}


/* RESULT BOX */

.result-box span {
  color: #ffdf5a;
}

.section-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.preview-img {
  width: 240px;
  border-radius: 16px;
  margin-bottom: 12px;
  box-shadow: 0 12px 25px rgba(0,0,0,.35);
}

.confidence-text {
  opacity: .9;
  margin-top: 8px;
  font-size: 14px;
}


/* LOADER OVERLAY */

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.65);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loader-box {
  text-align: center;
}

.loader-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,.25);
  border-top-color: #ffb703;
  animation: spin 1s linear infinite;
  margin: 10px auto 12px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


/* FOOTER */

footer {
  text-align: center;
  margin-top: 55px;
  padding-bottom: 20px;
  opacity: .7;
}
