{% extends "base.html" %}
{% block content %}

<h1>About This Project</h1>

<div class="card">
  <p>
    This application uses a deep learning model trained on the Food-101 dataset
    to recognize food items from images and estimate their calorie content.
  </p>

  <ul class="info-list">
    <li>✔ Lightweight MobileNetV2 Model</li>
    <li>✔ Fast & CPU-friendly inference</li>
    <li>✔ Nutrition-assistance focused application</li>
    <li>✔ Built using TensorFlow & Flask</li>
  </ul>
</div>

{% endblock %}
